### There are two common packages to convert PDF files to Excel; PDFTables is one of of the two

In [1]:
# !pip install pdftables-api

In [40]:
# importing the pdftables_api package
import pdftables_api

In [41]:
# the path to the input pdfs
first_pdf = r"../pdf_files/2016-financial-statements-en.pdf"
second_pdf = r"../pdf_files/ab-group-fs_2020-(english).pdf"

# the output file path
excel_path = r"../excel_files/"

In [55]:
# initialization, the api_key obtained after you create an account on the PDFTables.com website
c = pdftables_api.Client(api_key='hncf7esx1ldx')

In [56]:
# let's try to convert the first pdf into excel-file (.xlsx)
c.xlsx(first_pdf, f"{excel_path}first") 

#replace c.xlsx with c.csv to convert to CSV or to c.xml to convert to XMLor to c.html to convert to HTML

APIException: Usage limit exceeded

### This Python library needs to interact with the ```PDFTables.com``` API. so it's very limited

### Notice the coming error is APIException: Usage limit exceeded

In [5]:
# let's make another try with the second file this time.
c.xlsx(second_pdf, f"{excel_path}second.xlsx")

APIException: Usage limit exceeded

### now let's show the resulted excel file

In [12]:
import pandas as pd
excel_dict = pd.read_excel(f"{excel_path}.xlsx", sheet_name=None)

C:\Users\huzyfa\anaconda3\envs\fn\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [11]:
### the output is in json format, we can manipulate with it easily

In [15]:
excel_dict['Page 1']

                           Financial
0                    Statements 2016
1  Consolidated Financial Statements
2           of the Nestlé Group 2016
3         150th Financial Statements
4                     of Nestlé S.A.

In [16]:
excel_dict['Page 2']

    Consolidated
0      Financial
1     Statements
2  of the Nestlé
3     Group 2016

In [17]:
excel_dict['Page 3']

,59,Principal exchange rates,Unnamed: 2,136,Statutory Auditor’s Report –
0,NaN,NaN,NaN,NaN,Report on the Audit of the
1,60.0,Consolidated income statement for,NaN,NaN,Consolidated Financial Statements
2,NaN,the year ended 31 December 2016,NaN,NaN,NaN
3,NaN,NaN,NaN,142.0,Financial information – 5 year review
4,61.0,Consolidated statement of,NaN,NaN,NaN
5,NaN,comprehensive income for the year,NaN,144.0,"Companies of the Nestlé Group, joint"
6,NaN,ended 31 December 2016,NaN,NaN,arrangements and associates
7,62.0,Consolidated balance sheet as at,NaN,NaN,NaN
8,NaN,31 December 2016,NaN,NaN,NaN
9,64.0,Consolidated cash flow statement for,NaN,NaN,NaN
10,NaN,the year ended 31 December 2016,NaN,NaN,NaN
11,65.0,Consolidated statement,NaN,NaN,NaN
12,NaN,of changes in equity for the year ended,NaN,NaN,NaN
13,NaN,31 December 2016,NaN,NaN,NaN
14,67.0,Notes,NaN,NaN,NaN
15,67.0,1.,Accounting policies,NaN,NaN
16,70.0,2.,"Scope of consolidation, acquisitions",NaN,NaN
17,NaN,NaN,"and disposals of businesses, assets",NaN,NaN
18,NaN,NaN,held for sale and acquisitions of,NaN,NaN
19,NaN,NaN,non-controlling interests,NaN,NaN
20,74.0,3.,Analyses by segment,NaN,NaN
21,82.0,4.,Net other trading and operating income/,NaN,NaN
22,NaN,NaN,(expenses),NaN,NaN
23,83.0,5.,Net financial income/(expense),NaN,NaN
24,84.0,6.,Inventories,NaN,NaN
25,NaN,7.,Trade and other receivables,NaN,NaN
26,85.0,8.,"Property, plant and equipment",NaN,NaN
27,88.0,9.,Goodwill and intangible assets,NaN,NaN
28,94.0,10.,Employee benefits,NaN,NaN
29,104.0,11.,Provisions and contingencies,NaN,NaN
30,106.0,12.,Financial instruments,NaN,NaN
31,118.0,13.,Taxes,NaN,NaN
32,121.0,14.,Associates and joint ventures,NaN,NaN
33,123.0,15.,Earnings per share,NaN,NaN
34,124.0,16.,Cash flow statement,NaN,NaN
35,127.0,17.,Equity,NaN,NaN
36,132.0,18.,Lease commitments,NaN,NaN
37,133.0,19.,Transactions with related parties,NaN,NaN
38,135.0,20.,Guarantees,NaN,NaN
39,NaN,21.,Events after the balance sheet date,NaN,NaN
40,58.0,NaN,NaN,NaN,Consolidated Financial Statements of the Nestl...